---
- name: Ensuring rclone is installed
  become: true
  ansible.builtin.apt:
    name: rclone
- name: Ensuring borg backup is installed
  become: true
  ansible.builtin.apt:
    name: borgbackup
  when: cvaccess_enable_backups == true
- name: installing new control script
  become: true
  ansible.builtin.template: 
    src: cvaccessctl.j2
    dest: /usr/local/bin/cvaccessctl
    mode: "0755"
    owner: root
    group: root
- name: installing smart keepassxc script
  become: true
  ansible.builtin.template:
    src: smart-keepassxc.j2
    dest: /usr/local/lib/smart-keepassxc
    mode: "0755"
    owner: root
    group: root
- name: ensuring vault folder exist for each user
  ansible.builtin.file:
    dest: "/home/{{item}}/vault"
    state: directory
    mode: "0750"
    owner: "{{item}}"
    group: "{{item}}"
  loop: "{{cvaccess_users}}"
- name: adding systemd mount service file 
  become: true
  ansible.builtin.template:
    src: cvaccess@.service.j2
    dest: /etc/systemd/system/cvaccess@.service
    mode: "0744"
  register: service_templating_result
- name: reloading systemctl unit files
  become: true
  ansible.builtin.command:
    cmd: systemctl daemon-reload
- name: restarting templating services
  become: true
  ansible.builtin.service:
    name: "cvaccess@{{item}}"
    state: restarted
  loop: "{{cvaccess_users}}"
  when: service_templating_result.changed == true
- name: enabling cvaccess service
  become: true
  ansible.builtin.service:
    name: "cvaccess@{{item}}"
    enabled: true
  loop: "{{cvaccess_users}}"
