---
- name: Ensuring rclone is installed
  become: true
  ansible.builtin.apt:
    name: rclone
- name: installing new control script
  become: true
  ansible.builtin.template: 
    src: cvaccessctl.j2
    dest: /usr/local/bin/cvaccessctl
    mode: "0744"
- name: adding systemd mount service file 
  become: true
  ansible.builtin.template:
    src: cvaccess.service.j2
    dest: /etc/systemd/system/cvaccess.service
    mode: "0744"
- name: reloading systemctl unit files
  become: true
  ansible.builtin.command:
    cmd: systemctl daemon-reload
- name: enabling cvaccess service
  become: true
  ansible.builtin.service:
    name: cvaccess
    enabled: true
